h1 {
    text-align: center;
    color: ;
    font-size: ;
    font-weight: ;
}

h2 {
    text-align: center;
    color: ;
    font-size: ;
    font-weight: ;
}

h3 {
    text-align: center;
    color: ;
    font-size: ;
    font-weight: ;
}

button {

}

#controls-container {
    text-align: center;
}

#map-container {
    margin: 0 auto;
    width: 80%;
}

#map {
    height: 80vh;
}