<h1>Welcome</h1>
<h2>
  This is an example of
  Google Maps in Angular
</h2>
<div id="controls-container">
  <h3>Latitude: <span>{{ lat }}</span></h3>
  <h3>Longtitude: <span>{{ long }}</span></h3>
  <button type="button" (click)="getClientCurrentLocation()">Get Current Location</button>
  <div id="search-container">
    <label>Search Places:</label>
    <br/>
    <input type="text" autocorrect="off" autocapitalize="off" spellcheck="off" #search [formControl]="searchControl">    
  </div>
</div>
<div id="map-container">
  <agm-map id="map" [latitude]="lat" [longitude]="long" [zoom]="zoom">
    <agm-marker [latitude]="lat" 
                [longitude]="long" 
                [markerDraggable]="true"
                (dragEnd)="markerDrag($event)">
    </agm-marker>
  </agm-map>
</div>